<br/>
<h2>Search Beginner</h2>
<br/>
<div>
    <form class="row g-3" (ngSubmit)="searchBeginnerById()">
        <div class="col-auto">
            <label class="form-control-plaintext" for="id">Id :</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="id" 
            name="id" required [(ngModel)]="id" placeholder="Search Beginner by Id" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </form>
</div>
<br/>
<div>
    <form class="row g-3" (ngSubmit)="searchBeginnerByDNI()">
        <div class="col-auto">
            <label class="form-control-plaintext" for="dni">DNI :</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="dni" 
            name="dni" required [(ngModel)]="dni" placeholder="Search Beginner by dni" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </form>
</div>
<br/>
<div>
    <form class="row g-3" (ngSubmit)="searchBeginnerByFirstName()">
        <div class="col-auto">
            <label class="form-control-plaintext" for="firstName">FirstName :</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="firstName" 
            name="firstName" required [(ngModel)]="firstName" placeholder="Search Beginner by FirstName" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </form>
</div>
<br/>
<div>
    <form class="row g-3" (ngSubmit)="searchBeginnerByLastName()">
        <div class="col-auto">
            <label class="form-control-plaintext" for="lastName">LastName :</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="lastName" 
            name="lastName" required [(ngModel)]="lastName" placeholder="Search Beginner by Lastname" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </form>
</div>
<br/>
<div>
    <form class="row g-3" (ngSubmit)="searchBeginnerByFirstNameAndLastName()">
        <div class="col-auto">
            <label class="form-control-plaintext" for="firstName">FirstName :</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="firstName2" 
            name="firstName2" required [(ngModel)]="firstName2" placeholder="Search Beginner" />
        </div>
        <div class="col-auto">
            <label class="form-control-plaintext" for="lastName">LastName :</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="lastName2" 
            name="lastName2" required [(ngModel)]="lastName2" placeholder="Search Beginner" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </form>
</div>
<br/>
<ul>
    <li *ngIf="beginner">
        <h4>{{ beginner.id }} - {{ beginner.firstName }} {{ beginner.lastName }} - {{beginner.email}}</h4>
    </li>
</ul>
<ul>
    <li *ngFor="let beginner of beginners">
        <h4>{{ beginner.id }} - {{ beginner.firstName }} {{ beginner.lastName }} - {{beginner.email}}</h4>
    </li>
</ul>
