<div class="width-container">

    <main>
        <div class="main-header">
            <aside class="vertical-text">
                <p>Healthy Cook</p>
            </aside>
            <header>
                <h1 class="big-header-text">Pastel</h1>
                <h2 class="small-header-text">de zanahorias</h2>
            </header>
            <aside class="recipe-details">
                <ul>
                    <li>
                        <p class="details">Porciones: 6</p>
                    </li>
                    <li>
                        <p class="details">Tiempo Preparación: 45 minutos</p>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="main-content">
            <aside class="recipe-img">
                <figure>
                    <img src="https://t2.rg.ltmcdn.com/es/images/0/7/4/pastel_de_zanahoria_facil_9470_paso_4_600.jpg" alt="spaghetti with pesto sauce and cherry tomatoes.">
                </figure>
                <figcaption>Fotografía de Clara Inés</figcaption>
            </aside>
            <section class="introduction-1">
                <p>Este delicioso postre saludable ofrece un sabor exquisito y poco común, que podras rellenar y decorar a tu estilo! </p>
            </section>
            <section class="introduction-2">
                <p>Personalmente, este postre es uno de mis favoritos, me hace acordar a mi etapa de niñez cuando mi abuelita lo preparaba para los mas pequeños de la casa. </p>
            </section>
            <section class="content">
                <h2>Los ingredientes</h2>
                    <ul class="ingredients">
                        <li>4 unidades de huevo</li>
                        <li>1½ tazas de azúcar (300 gramos)</li>
                        <li>1 cucharadita de esencia de vainilla</li>
                        <li>1½ tazas de harina (210 gramos)</li>
                        <li>1 taza de aceite vegetal</li>
                        <li>1 pizca de sal</li>
                        <li>2 cucharaditas de polvos para hornear o levadura tipo Royal</li>
                        <li>2 cucharaditas de canela en polvo</li>
                        <li>2 tazas de zanahoria rallada</li>
                        <li>½ taza de nueces picadas</li>
                </ul>
                <p class="variation">
                    <span class="variation-intro">Variación:</span> 
                    Si no tienes en casa canela en polvo, no te preocupes. El postre igual quedara delicioso.</p>
                <h2>Pasos</h2>
                    <ol class="instructions">
                        <li>Empezaremos nuestro pastel de zanahoria fácil de hacer por la masa del bizcocho.
                            <ul>
                                <li>Introduce los huevos en un recipiente y bátelos hasta que adquieran una textura espumosa.</li>
                                <li>Precalienta el horno a 180ºC</li>
                            </ul>
                        </li>
                        <li>Agrega el azúcar, la harina y los polvos de hornear bien tamizados alternándolos con el aceite y sigue batiendo. </li>
                        <li>Rallar las zanahorias
                            <ul>
                                <li>Incorpora la zanahoria rallada junto con las nueces, previamente picadas</li>
                            </ul>
                        </li>
                        <li>Batir hasta obtener la masa del pastel de zanahoria, si desea, puede incorporar una cucharadita de esencia de vainilla o canela en polvo. </li>
                        <li>Unta un molde apto para horno con un poco de mantequilla y vierte la mezcla. </li>
                        <li>Proceder a hornear el bizcocho de zanahoria durante media hora, siempre estando atento, por si requiere mas tiempo</li>
                        <li>Mientras se hornea el pastel de zanahoria, puedes ir preparando la cobertura 
                            <ul>
                                <li>En un recipiente, mezclar el queso crema(de preferencia usar queso tipo Philadelphia) con la mantequilla</li>
                                <li>incorporar el azúcar glass poco a poco y sin dejar de batir</li>
                            </ul>
                        </li>
                        <li>Cuando el bizcocho de zanahoria esté listo, deja que se enfríe un poco sobre una rejilla y córtalo por la mitad para rellenarlo con una fina capa de la mezcla anterior.</li>
                        <li>Decorar con una cobertura dulce y blanca</li>
                        <li>A comer!</li>
                    </ol>
            </section>
        </div>
    </main>
</div>